@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #007bfd;
  overflow-x: hidden;
  font-family: "poppins", sans-serif;
  min-height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.quize_container .quize_result .restart button,
.quize_container .quize_phase .footer button,
.quize_container .choosing_phase .next {
  display: block;
  color: white;
  padding: 10px;
  border-radius: 4px;
  background-color: #027afd;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quize_container .quize_result .restart button:hover,
.quize_container .quize_phase .footer button:hover,
.quize_container .choosing_phase .next:hover {
  opacity: 0.8;
}

.quize_container .quize_result .restart button:active,
.quize_container .quize_phase .footer button:active,
.quize_container .choosing_phase .next:active {
  scale: 0.98;
}

/* ----------------------------------------- */
.quize_container {
  width: 450px;
  background-color: #fefefe;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px -8px black;
  box-shadow: 0 0 20px -8px black;
}

@media (max-width: 575px) {
  .quize_container {
    width: 310px;
  }
}

/* choosing phase */
.quize_container .choosing_phase {
  width: 100%;
  background-color: #fefefe;
  padding: 20px 15px;
  border-radius: inherit;
  display: none;
}

.quize_container .choosing_phase>p {
  font-weight: 600;
  font-size: 14px;
}

.quize_container .choosing_phase .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  gap: 40px;
}

@media (max-width: 575px) {
  .quize_container .choosing_phase .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .quize_container .choosing_phase .inputs>div {
    width: 100% !important;
  }
}

.quize_container .choosing_phase .inputs>div {
  width: 50%;
}

.quize_container .choosing_phase .inputs>div label {
  margin-bottom: 10px;
  display: block;
}

.quize_container .choosing_phase .inputs>div select {
  width: 100%;
  padding: 4px 8px;
}

.quize_container .choosing_phase .next {
  margin-top: 20px;
  width: 100%;
}

/* Quize start Phase */
.quize_container .quize_phase {
  display: none;
}

.quize_container .quize_phase .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.219);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.219);
  position: relative;
  padding-block: 10px;
  padding-inline: 15px;
}

.quize_container .quize_phase .header .title {
  font-weight: 600;
  font-size: 14px;
}

.quize_container .quize_phase .header .time_lefting_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #cde5fe;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}

.quize_container .quize_phase .header .time_lefting_box * {
  display: block;
}

.quize_container .quize_phase .header .time_lefting_box span:first-child {
  color: #3a5d8f;
}

.quize_container .quize_phase .header .time_lefting_box span:last-child {
  background-color: #353b40;
  padding: 4px;
  color: white;
  border-radius: 2px;
  margin-left: 8px;
}

.quize_container .quize_phase .header .time_progress {
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: red;
  bottom: 0;
  left: 0;
}

.quize_container .quize_phase .body {
  padding-inline: 15px;
  padding-block: 20px;
}

.quize_container .quize_phase .body .question {
  font-weight: 600;
  font-weight: 18px;
  margin-bottom: 20px;
}

.quize_container .quize_phase .body ul.answers_list li {
  padding-block: 10px;
  padding-inline: 10px 35px;
  border: 1px solid #b9d6ea;
  border-radius: 4px;
  background-color: #eff8ff;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quize_container .quize_phase .body ul.answers_list li.right {
  background-color: #d5ecd8;
  color: #406d5a;
  border-color: #d5ecd8;
}

.quize_container .quize_phase .body ul.answers_list li.right::after {
  font-family: "FontAwesome";
  content: "\f058";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.quize_container .quize_phase .body ul.answers_list li.wrong {
  background-color: #fad7dd;
  color: #7b4a47;
  border-color: #fad7dd;
}

.quize_container .quize_phase .body ul.answers_list li.wrong::after {
  font-family: "FontAwesome";
  content: "\f057";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.quize_container .quize_phase .body ul.answers_list li:not(:last-child) {
  margin-bottom: 8px;
}

.quize_container .quize_phase .body ul.answers_list li:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.quize_container .quize_phase .footer {
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.274);
}

.quize_container .quize_phase .footer .counter {
  font-size: 14px;
}

.quize_container .quize_phase .footer .counter span {
  font-weight: 600;
}

/* Quize Result */
.quize_container .quize_result {
  width: 100%;
  background-color: #fefefe;
  padding: 20px 15px;
  border-radius: inherit;
}

.quize_container .quize_result .title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.quize_container .quize_result .res {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.quize_container .quize_result .restart button {
  display: block;
  margin: 20px auto 0px;
}